<mat-drawer-container class="example-container">
  <mat-drawer-content>
    <ng-container *ngIf="(cards$ | async) as cardList">
    <app-card-list
      [cards]="cardList"
      (addMovement)="addMovement()"
      (removeMovement)="removeMovement($event)"
      (viewMovement)="viewMovement($event)"
    ></app-card-list>
  </ng-container>
  </mat-drawer-content>
  <mat-drawer mode="side" opened="false" position='end'>
    <app-card-form
      #insertCard
      class="card-style"
      (add)="addCard($event)"
      (cancel)="closeAddMovement()"
    ></app-card-form>
  </mat-drawer>
</mat-drawer-container>
