<ng-container *ngIf="showList">
  <app-contact-list [contacts]="contacts" (select)="selectItem($event)" (edit)="editItem($event)"
    (delete)="deleteItem($event)"></app-contact-list>
  <button class="width100" mat-raised-button color="secondary" type="button" (click)="addItem()">
    Nuovo Contatto
  </button>
</ng-container>


<ng-container *ngIf="!showList">
  <button class="width100 mb-2" mat-raised-button type="button" (click)="showList=true">
    Indietro
  </button>
  <app-contact-form [initialContact]="initialContact" (saveContact)="saveContact($event)"></app-contact-form>
</ng-container>
