<ng-container *ngIf="(state$ | async)?.type === 'list'">
  <app-contact-list [contacts]="contacts$.getValue()" (select)="selectItem($event)" (edit)="editItem($event)"
    (delete)="deleteItem($event)"></app-contact-list>
  <button class="width100" mat-raised-button color="secondary" type="button" (click)="addItem()">
    Nuovo Contatto
  </button>
</ng-container>


<ng-container *ngIf="(state$ | async)?.type !== 'list'">
  <button class="width100 mb-2" mat-raised-button type="button" (click)="backToList()">
    Indietro
  </button>
  <app-contact-form [initialContact]="selectedContact$ | async" (saveContact)="saveContact($event)"></app-contact-form>
</ng-container>
