<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-card formGroupName="contribuente">
      <mat-card-title>Contribuente</mat-card-title>

      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="fill" class="width100">
            <mat-label>Codice fiscale</mat-label>
            <input type="text" placeholder="Codice fiscale" formControlName="codiceFiscale" matInput />
            <mat-hint>Esempio: 'AAAAAA00A00A000A'</mat-hint>
            <mat-error *ngIf="form.get('codiceFiscale')?.hasError('required')">
              Campo <strong>obbligatorio</strong>
            </mat-error>
            <mat-error *ngIf="form.get('codiceFiscale')?.hasError('codiceFiscale')">
              Non è un codice fiscale valido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <mat-form-field appearance="fill" class="width100">
            <mat-label>Cognome</mat-label>
            <input type="text" placeholder="Cognome" formControlName="cognome" matInput />
            <mat-error *ngIf="form.get('cognome')?.hasError('required')">
              Campo <strong>obbligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="width100">
            <mat-label>Nome</mat-label>
            <input type="text" placeholder="Nome" formControlName="nome" matInput />
            <mat-error *ngIf="form.get('nome')?.hasError('required')">
              Campo <strong>obbligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Data di nascita</mat-label>
            <input matInput [matDatepicker]="pickerBirth" formControlName="dataDiNascita">
            <mat-datepicker-toggle matSuffix [for]="pickerBirth"></mat-datepicker-toggle>
            <mat-datepicker #pickerBirth></mat-datepicker>
            <mat-error *ngIf="form.get('dataDiNascita')?.hasError('required')">
              Campo <strong>obbligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Sesso</mat-label>
            <mat-select formControlName="sesso">
              <mat-option value="M">Maschio</mat-option>
              <mat-option value="F">Femmina</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('sesso')?.hasError('required')">
              Campo <strong>obbligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="width100">
            <mat-label>Provincia di nascita</mat-label>
            <input type="text" placeholder="Prov." formControlName="provinciaDiNascita" matInput maxlength="2" />
            <mat-error *ngIf="form.get('provinciaDiNascita')?.hasError('required')">
              Campo <strong>obbligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="fill" class="width100">
            <mat-label>Comune di nascita</mat-label>
            <input type="text" placeholder="Comune" formControlName="comuneDiNascita" matInput />
            <mat-error *ngIf="form.get('comuneDiNascita')?.hasError('required')">
              Campo <strong>obbligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card>


    <mat-card formArrayName="erario">
      <mat-card-title>Erario</mat-card-title>

      <div class="row" *ngFor="let erarioGroup of erario.controls; let i = index">
        <ng-container [formGroupName]="i">
          <div class="col">
            <mat-form-field appearance="fill" class="width100">
              <mat-label>Codice tributo</mat-label>
              <input type="text" formControlName="codiceTributo" matInput />
              <mat-error *ngIf="erarioGroup.get('codiceTributo')?.hasError('required')">
                Campo <strong>obbligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" class="width100">
              <mat-label>Anno</mat-label>
              <input type="number" formControlName="anno" matInput />
              <mat-error *ngIf="erarioGroup.get('anno')?.hasError('required')">
                Campo <strong>obbligatorio</strong>
              </mat-error>
              <mat-error *ngIf="erarioGroup.get('anno')?.hasError('min') || erarioGroup.get('anno')?.hasError('max')">
                Anni abilitati: {{minYear}} - {{maxYear}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" class="width100">
              <mat-label>Debito</mat-label>
              <input type="number" formControlName="debito" matInput />
              <mat-error *ngIf="erarioGroup.get('debito')?.hasError('required')">
                Campo <strong>obbligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" class="width100">
              <mat-label>Credito</mat-label>
              <input type="number" formControlName="credito" matInput />
              <mat-error *ngIf="erarioGroup.get('credito')?.hasError('required')">
                Campo <strong>obbligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <button type="button" mat-mini-fab color="warn" aria-label="Rimuovi" (click)="removeErario(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>

      <div class="row">
        <div class="col"><button type="button" mat-mini-fab color="primary" aria-label="Aggiungi" (click)="addErario()">
            <mat-icon>add</mat-icon>
          </button></div>
        <div class="col"><strong>Totale a debito {{(totaliErario$ | async)?.debito}}</strong></div>
        <div class="col"><strong>Totale a credito {{(totaliErario$ | async)?.credito}}</strong></div>
      </div>



    </mat-card>



    <mat-card formArrayName="inps">
      <mat-card-title>INPS</mat-card-title>
      <div class="row" *ngFor="let inpsGroup of inps.controls; let i = index">
        <ng-container [formGroupName]="i">
          <div class="col">
            <mat-form-field appearance="fill" class="width100">
              <mat-label>Codice sede</mat-label>
              <input type="text" formControlName="codiceSede" matInput />
              <mat-error *ngIf="inpsGroup.get('codiceSede')?.hasError('required')">
                Campo <strong>obbligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" class="width100">
              <mat-label>Causale contributo</mat-label>
              <input type="text" formControlName="causaleContributo" matInput />
              <mat-error *ngIf="inpsGroup.get('causaleContributo')?.hasError('required')">
                Campo <strong>obbligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" class="width100">
              <mat-label>Causale INPS</mat-label>
              <input type="text" formControlName="codiceInps" matInput />
              <mat-error *ngIf="inpsGroup.get('codiceInps')?.hasError('required')">
                Campo <strong>obbligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Da</mat-label>
              <input matInput [matDatepicker]="pickerDa" formControlName="da" [errorStateMatcher]="inpsMatcher">
              <mat-datepicker-toggle matSuffix [for]="pickerDa"></mat-datepicker-toggle>
              <mat-datepicker #pickerDa></mat-datepicker>
              <mat-error *ngIf="inpsGroup.get('da')?.hasError('required')">
                Campo <strong>obbligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>A</mat-label>
              <input matInput [matDatepicker]="pickerA" formControlName="a" [errorStateMatcher]="inpsMatcher">
              <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
              <mat-datepicker #pickerA></mat-datepicker>
              <mat-error *ngIf="inpsGroup.get('a')?.hasError('required')">
                Campo <strong>obbligatorio</strong>
              </mat-error>
              <mat-error *ngIf="inpsGroup?.hasError('inps')">
                {{inpsGroup.getError('inps')}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" class="width100">
              <mat-label>Debito</mat-label>
              <input type="number" formControlName="debito" matInput />
              <mat-error *ngIf="inpsGroup.get('debito')?.hasError('required')">
                Campo <strong>obbligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" class="width100">
              <mat-label>Credito</mat-label>
              <input type="number" formControlName="credito" matInput />
              <mat-error *ngIf="inpsGroup.get('credito')?.hasError('required')">
                Campo <strong>obbligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <button type="button" mat-mini-fab color="warn" aria-label="Rimuovi" (click)="removeInps(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>


      <div class="row">
        <div class="col"><button type="button" mat-mini-fab color="primary" aria-label="Aggiungi" (click)="addInps()">
            <mat-icon>add</mat-icon>
          </button></div>
        <div class="col"><strong>Totale a debito {{(totaliInps$ | async)?.debito}}</strong></div>
        <div class="col"><strong>Totale a credito {{(totaliInps$ | async)?.credito}}</strong></div>
      </div>

    </mat-card>

    <div class="row saldo-totale">
      <div class="col"><strong>Saldo totale: {{totale$ | async}}</strong></div>
    </div>

    <div class="row">
      <div class="col">
        <button mat-raised-button color="primary" [disabled]="!form.valid">Invia</button>
      </div>
    </div>
  </form>
</div>
